/* styles.css */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #252525;
    color: #FFFAFA;
}

.container {
    position: relative;
    width: 100vw;
    /* Volle Breite des Bildschirms */
    height: 100vh;
    /* Volle Höhe des Bildschirms */
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder {
    position: absolute;
    width: 59.3vw;
    /* 2259px von 3840px */
    height: 99.8vh;
    /* 2156px von 2160px */
    left: 0;
    top: 0;
    background: #D9D9D9;
    border-radius: 0 5.8vw 5.8vw 0;
    /* 208px von 3840px */
}

.logo {
    position: absolute;
    width: 14.8vw;
    /* 567px von 3840px */
    height: 26.3vh;
    /* 567px von 2160px */
    left: 59.3vw;
    /* 1767px von 3840px */
    top: 71.7vh;
    /* 1485px von 2160px */
    margin-left: -12.5vw;
    background: url('svg/logo_farbe.svg') no-repeat center / contain;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26.8vw;
    /* 1067px von 3840px */
    height: 78.7vh;
    /* 1248px von 2160px */
    position: absolute;
    left: 66.8vw;
    /* 2259px von 3840px */
    top: 16vh;
    /* 240px von 2160px */
    /* margin-left: 8vh; */
    justify-content: center;
}

.heading {
    font-weight: 500;
    font-size: 2.5vw;
    /* 96px von 3840px */
    line-height: 4vh;
    
    text-align: center;
    letter-spacing: 0.02em;
}

.description {
    font-weight: 400;
    font-size: 1.2vmin;
    /* 32px von 3840px */
    line-height: 1.5vh;
    /* 48px von 3840px */
    text-align: center;
    letter-spacing: 0.02em;
}

.input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5vw;
    /* 64px von 3840px */
    width: 27.8vw;
    /* 1067px von 3840px */
    height: 7vh;
    /* 144px von 2160px */
    background: #D9D9D9;
    border-radius: 800px;
    margin: 1vh 0;
    /* 48px von 2160px */
}

.input-text {
    font-weight: 500;
    font-size: 1vw;
    /* 36px von 3840px */
    line-height: 149.13%;
    letter-spacing: 0.02em;
    color: #00070F;
    width: 100%;
    border: none;
    background-color: transparent;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.8vw;
    /* 1070px von 3840px */
    height: 7vh;
    /* 144px von 2160px */
    background: #77AFFF;
    border-radius: 800px;
    font-weight: 500;
    font-size: 1.05vw;
    /* 40px von 3840px */
    color: #FFFAFA;
    margin: 5vh 0;
    /* 96px von 2160px */
    padding: 1.5vh;
}

.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    font-weight: 700;
    font-size: 1vw;
    /* 36px von 3840px */
    text-decoration: underline;
    color: #A8E9FF;
}

input::placeholder {
    color: rgb(55, 55, 55);
}

input:focus {
    background-color: transparent;
    /* Hintergrund bleibt transparent */
    border: none;
    /* Keine Rahmen beim Fokus */
    outline: none;
    /* Keine Umrandung beim Fokus */
    
}
input:focus::placeholder{
    /* opacity: 0; */
}